.header {
	padding-top: 37--rpx;
	padding-bottom: 37--rpx;

	&__container {
		display: flex;
		flex-wrap: wrap;
		gap: 1--gap;
		align-items: center;
		justify-content: space-between;

		width: var(--container-width);
		margin-right: auto;
		margin-left: auto;
		padding-right: var(--gap);
		padding-left: var(--gap);
	}

	&__logo {
		display: block;
	}

	&__nav {
		/* Пока вот так костыльно, вообще нужно делать хак с visually-hidden, но тут навигация тупо по странице, а пользователи с ОВ и так могут навигироваться по заголовкам */
		display: none;

		@media (--md) {
			display: block;
		}
	}

	&__navList {
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap);
		list-style-type: none;
	}

	&__navItem {
		margin-left: 1--gap;
	}

	&__navLink {
		font: var(--typo-t2);
		color: var(--color-white);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
