.ideas {
	position: relative;
	background-color: var(--color-blue-light);

	&__container {
		width: var(--container-width);
		margin-right: auto;
		margin-left: auto;
		padding-top: 128--px;
		padding-bottom: 128--px;

		background-image: url('/images/ideas/left-corner.svg'),
			url('/images/ideas/right-corner.svg');
		background-repeat: no-repeat, no-repeat;
		background-position: top 32--px left 0, bottom 32--px right 0;
		background-size: 64--px auto, 64--px auto;

		@media (--md) {
			padding-top: 192--px;
			padding-bottom: 192--px;
			text-align: center;
			background-size: 96--px auto, 96--px auto;
		}

		@media (--lg) {
			padding-top: 96--px;
			padding-bottom: 96--px;
		}
	}

	&__title {
		padding-bottom: 32--px;
		font: var(--typo-h2);
		color: var(--color-white);

		@media (--md) {
			padding-right: 32--px;
			padding-left: 32--px;
			text-align: center;
		}

		@media (--lg) {
			padding-right: 192--px;
			padding-left: 192--px;
		}
	}

	&__description {
		padding-bottom: 24--px;
		font: var(--typo-t2);
		color: var(--color-white);

		@media (--md) {
			padding-right: 96--px;
			padding-left: 96--px;
			text-align: center;
		}

		@media (--lg) {
			padding-right: 32--px;
			padding-left: 32--px;
		}

		@media (--lg) {
			padding-right: 192--px;
			padding-left: 192--px;
		}
	}
}
