.link {
	cursor: pointer;

	position: relative;

	display: inline;

	color: var(--color-yellow);
	text-decoration: underline;

	background-color: transparent;
	border: none;

	&:hover {
		color: var(--color-pink);
	}

	&:active {
		color: var(--color-red);
	}

	&:focus-visible::before {
		content: '';

		position: absolute;
		inset: -1--rpx -6--rpx;

		border: 2--rpx solid var(--color-yellow);
		border-radius: 4--rpx;
	}

	&:focus-visible {
		outline: none;
	}
}
